IS-Projekty/program001-vypis_rady/bin/Debug/net8.0/program001-vypis_rady.deps.json
IS-Projekty/program001-vypis_rady/bin/Debug/net8.0/program001-vypis_rady.dll
IS-Projekty/program001-vypis_rady/bin/Debug/net8.0/program001-vypis_rady.exe
IS-Projekty/program001-vypis_rady/bin/Debug/net8.0/program001-vypis_rady.pdb
IS-Projekty/program001-vypis_rady/bin/Debug/net8.0/program001-vypis_rady.runtimeconfig.json
IS-Projekty/program001-vypis_rady/obj/Debug/net8.0/apphost.exe
IS-Projekty/program001-vypis_rady/obj/Debug/net8.0/program001-vypis_rady.AssemblyInfo.cs
IS-Projekty/program001-vypis_rady/obj/Debug/net8.0/program001-vypis_rady.AssemblyInfoInputs.cache
IS-Projekty/program001-vypis_rady/obj/Debug/net8.0/program001-vypis_rady.csproj.CoreCompileInputs.cache
IS-Projekty/program001-vypis_rady/obj/Debug/net8.0/program001-vypis_rady.csproj.FileListAbsolute.txt
IS-Projekty/program001-vypis_rady/obj/Debug/net8.0/program001-vypis_rady.dll
IS-Projekty/program001-vypis_rady/obj/Debug/net8.0/program001-vypis_rady.genruntimeconfig.cache
IS-Projekty/program001-vypis_rady/obj/Debug/net8.0/program001-vypis_rady.pdb
IS-Projekty/program001-vypis_rady/obj/Debug/net8.0/program001-vypis_rady.sourcelink.json
IS-Projekty/program001-vypis_rady/obj/Debug/net8.0/ref/program001-vypis_rady.dll
IS-Projekty/program001-vypis_rady/obj/Debug/net8.0/refint/program001-vypis_rady.dll
